/*
$Id: readercomments.css 33123 2010-02-19 16:50:16Z santep $
(c)2006-2007 The New York Times Company 
*/

#readerscomment {
  float: left;
  clear: left;
  width: 190px;
  background: #EBF1F5 url(http://graphics8.nytimes.com/images/global/borders/aColumnHorizontalBorder.gif) repeat-x scroll left top;
  margin: 0 15px 20px 0; 
}

#readerscomment h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  margin: 7px 10px 2px 10px;
  padding: 5px 15px;
  background: url(http://graphics8.nytimes.com/images/article/comments/icons/comment_black.gif) no-repeat center left;
}

#readerscomment .RCcontent,
#readerscomment .content {
  padding: 9px 10px 13px 10px;
  background: #EBF1F5 url(http://graphics8.nytimes.com/images/global/borders/aColumnHorizontalBorder.gif) repeat-x scroll left bottom;
  border-top: 1px solid white;
}

#readerscomment blockquote {
  margin: 0 0 6px 0;
  font-size: 12px;
}

#readerscomment cite {
  font-size: 12px;
  color: #333;
  display: block;
  margin-bottom: 6px;
}

#readerscomment .more {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

#readerscomment .more li {
  margin:0;
  font-size: 11px;
  line-height: 1.2em;
  background:none;
  padding:0;
}

#readerscomment a {
  text-decoration:none !important;
}
